<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Cabinet</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/new.css}">
</head>

<body>
<form th:method="PUT" th:object="${cabinet}" th:action="@{/cabinets/{id}(id=${cabinet.getId()})}">
    <label for="number">Введите номер кабинета:</label>
    <input type="text" th:field="*{number}" id="number"/>
    <div style="color: red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Error</div>
    <br>
    <input type="submit" value="Изменить кабинет"/>
</form>

<a th:href="@{/cabinets}">Кабинеты</a>

</body>



</html>