<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update department</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/new.css}">
</head>

<body>
<form th:method="PUT" th:object="${department}" th:action="@{/departments/{id}(id=${department.getId()})}">
  <label for="name">Введите название кафедры:</label>
  <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
    <br>
    <label for="institute">Выберите институт:</label>
    <select id="institute" th:object="${department.institute}" th:field="*{id}">
        <option th:each="institute : ${institutes}" th:value="${institute.getId()}" th:text="${institute.getName()}"></option>
    </select>
    <br>
  <input type="submit" value="Обновить кафедру"/>
</form>
<a th:href="@{/departments}">Кафедры</a>
</body>


</html>