body {
    font-family: Arial, sans-serif;

    padding: 20px;
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

form {
    margin-top: 20px;
}

input[type="hidden"], label, select {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    color: #45a049;
}