body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p {
    margin-bottom: 10px;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

a.back-link {
    display: inline-block;
}

button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #007bff;
    color: white;
}

form {
    margin-top: 20px;
}

input[type="hidden"] {
    display: none;
}
