<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Specialization</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/entity.css}">
</head>
<body>
<p th:text="'Название: ' + ${specialization.name}"></p>
<p th:text="'Код: ' + ${specialization.code}"></p>
<a th:href="@{/institutes/{id}(id=${specialization.getInstitute().getId()})}"
   th:text="'Институт: ' + ${specialization.getInstitute().getName()}"></a>
<h2>Курсы:</h2>
<ul>
    <li th:each="course : ${specialization.courses}">
        <a th:href="@{/courses/{id}(id=${course.id})}" th:text="${course.name}"></a>
    </li>
</ul>

<h2>Студенты:</h2>
<ul>
    <li th:each="student : ${specialization.students}">
        <a th:href="@{/auth/profileInfo/{id}(id=${student.id})}" th:text="${student.name} + ' ' +
        ${student.surname} + ' ' + ${student.lastname}"></a>
    </li>
</ul>

<a th:href="@{/specializations/{id}/update(id=${specialization.getId()})}" >Изменить специальность</a>
<form th:method="DELETE" th:action="@{/specializations/{id}(id=${specialization.getId()})}">
  <input type="submit" value="Удалить Специальность">
</form>
<a th:href="@{/specializations}">Специальности</a>
</body>
</html>